$ff-default: 'Inter', sans serif;

$fs-heading-200 : 1.4rem;
$fs-heading-300 : 2.4rem;
$fs-heading-400: 2.8rem;
$fs-cards-200: 1.2rem;
$fs-cards-300: 3.2rem;
$fs-cards-400: 5.6rem;
$fs-prefered: 4.25vw;

$fw-400: 400;
$fw-500: 700;